---
url: http://www.srh.noaa.gov/ffc/html/rrm.php
fromAddress: me@example.com
toAddress: group@example.com
smtpServerName: smtp.gmail.com
smtpServerPort: 587
smtpServerUsername: myusername
smtpServerPassword: mypassword

